.teams {
    position: relative;
    min-height: calc(100vh - 95px);
}

.teams::after {
    content: "";
    background: url('../images/lecbg.jpg');
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.teams nav {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    width: calc(100% - 100px);
    height: 120px;
    background-color: rgb(255, 255, 255);
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    overflow: hidden;
}

.teams div.arrow {
    position: absolute;
    height: 120px;
    width: 50px;
    border: 2px solid black;
    background-color: white;
    color: #333;
    cursor: pointer;
}


.teams div.left {
    top: 0;
    left: 0;
}

.teams div.right {
    top: 0;
    right: 0;
}

.teams nav a {
    display: block;
    margin: auto;
    height: 60px;
    padding: 5px 0;
}

.teams img {
    height: 100%;
}

.teams nav a.active {
    height: 120px;
}

.team h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
    text-align: center;
    animation: show 10s linear 1 both;
}

.fas {
    position: absolute;
    font-size: 60px;
    line-height: 120px;
}

.fa-caret-left {
    left: 10px;
    padding-right: 20px;
}

.fa-caret-right {
    right: 10px;
    padding-left: 20px;
}

@keyframes show {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: scale(12) translate(-50%, -50%);
        transform-origin: 0% 0%;
        text-shadow:
            0 0 25px black;
    }

    10% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1) translate(-50%, -50%);
        transform-origin: 0% 0%;
    }

    25% {
        opacity: 1;
        filter: blur(0);
        transform: scale(.95) translate(-50%, -50%);
        transform-origin: 0% 0%;
        text-shadow: 2px 2px 4px black;
    }

    40% {
        opacity: 1;
        filter: blur(0);
        transform: scale(.9) translate(-50%, -50%);
        transform-origin: 0% 0%;
    }

    55% {
        opacity: 1;
        filter: blur(0);
        transform: scale(.87) translate(-50%, -50%);
        transform-origin: 0% 0%;
    }

    70% {
        opacity: 1;
        filter: blur(0);
        transform: scale(.84) translate(-50%, -50%);
        transform-origin: 0% 0%;
    }

    85% {
        opacity: 1;
        filter: blur(0);
        transform: scale(.81) translate(-50%, -50%);
        transform-origin: 0% 0%;
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: scale(.78) translate(-50%, -50%);
        transform-origin: 0% 0%;
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px rgb(255, 0, 0),
            0 0 80px rgb(255, 0, 0),
            0 0 90px rgb(255, 0, 0);
    }
}